* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
text-align: center;
padding-top: 20px;
}

.messages {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 30px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.contentContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.admin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 1 / 2;
    justify-self: right;
}

input {
    padding: 2px;
}

button {
    height: 30px;
}

.gameBoard {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    justify-self: center;
}

.row { 
    display: flex;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-collapse: collapse;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: lightgray;
}



